<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfil/fotoperfil.jpg" alt="foto de perfil" class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Leiva Savio Gabriela</p>
        <p>Full-Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>¡Hola!<br> Mi nombre es Gabriela soy Licenciada en Nutrición, ejerciendo esta carrera 
                me di cuenta lo necesario que era la programación para mejorar y automatizar procesos 
                de cálculos, medición y hasta para la planificación de dietas, por lo que decidí iniciar en 
                este nuevo camino del desarrollo web, realicé un Bootcamp de Full Stack Engineer en donde 
                adquirí habilidades en HTML, CSS, JavaScript, Node.js, MongoDB, AJAX, etc y el cual me motivó 
                a continuar capacitándome en este gran mundo de la programación.<br> Me considero una 
                persona creativa, empática, comprometida y con ganas de aplicar mis conocimientos y continuar 
                capacitándome para brindar lo mejor de mí.</p>
        </span>
    </div>

</div>
