<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Desarrolladora Full-Stack Engineer</h2> - <h3>(years)</h3>
            </li>
            <p>Educacion IT</p>
        </ul>
        <ul>
            <li>
                <h2>Curso operativo Office y Dactilografía</h2> - <h3>(years)</h3>
            </li>
            <p>Fundación DesCol</p>
        </ul>
        <ul>
            <li>
                <h2>Licenciatura en Nutrición</h2> - <h3>(years)</h3>
            </li>
            <p>Universidad del Norte Santo Tomás de Aquino</p>
        </ul>
    </div>
</div>
