<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Lic.en Nutrición "GYM EFIT"</h2> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea officiis, veritatis voluptates ipsa hic reprehenderit quo ipsam vel quae laborum molestias, deleniti animi blanditiis numquam libero est, nemo maxime? Aliquid?</p>
        </ul>
        <ul>
            <li>
                <h2>Captadora de fondos "UNICEF"</h2> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea officiis, veritatis voluptates ipsa hic reprehenderit quo ipsam vel quae laborum molestias, deleniti animi blanditiis numquam libero est, nemo maxime? Aliquid?</p>
        </ul>
        <ul>
            <li>
                <h2>Cajera Joyería "QOSQO"</h2> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea officiis, veritatis voluptates ipsa hic reprehenderit quo ipsam vel quae laborum molestias, deleniti animi blanditiis numquam libero est, nemo maxime? Aliquid?</p>
        </ul>
    </div>
</div>
