<div class="row">
    <h1>Proyectos</h1>
        <div class="contenedor">
            <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                <h1>Ecommerce</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Tempore sit at voluptas exercitationem modi. 
                    Numquam quibusdam, incidunt reiciendis provident 
                    facilis asperiores quia commodi consequatur tempore 
                    culpa amet, eius, saepe aperiam.</p>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
                <img src="../../../assets/proyecto/ecommerce.png" alt="captura de mi proyecto Ecommerce" class="img-fluid img-proyecto">
            </div>

        </div>

</div>

