<div class="row">
    <h1>Proyectos</h1>
        <div class="contenedor">
            <div class="col-sm-12 col-md-6 col-lg-6 parte1">
                <h2>Ecommerce</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Tempore sit at voluptas exercitationem modi. 
                    Numquam quibusdam, incidunt reiciendis provident 
                    facilis asperiores quia commodi consequatur tempore 
                    culpa amet, eius, saepe aperiam.</p>
                    <a href="https://security-ecommerce.glitch.me/">https://security-ecommerce.glitch.me/</a>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 offset-md-1 offset-lg-1 parte2">
                <img src="../../../assets/proyecto/ecommerce.png" alt="captura de mi proyecto Ecommerce" class="img-fluid img-proyecto">
            </div>

        </div>

</div>

